* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./images/bg.png);
}

.dark {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000086;
}

.main-container {

    width: 45vw;
    height: 85vh;
    display: flex;
}

.left {
    width: 45%;
    background-color: #0000FF;
    align-items: center;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.left-container {

    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-container>p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.right {
    width: 55%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

}

form {

    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-container>input {
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 1.9rem;
    outline: none;
    border: none;
    border-bottom: 3px solid #909090;
    font-size: medium;
}

.input-container>a {
    position: relative;
    left: 15rem;
    bottom: 4.3rem;
    color: #1515EF;
}

#btn-container {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

}

#btn-container>input {
    padding: 0.9rem;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

#btn-container>p {
    text-align: center;
}

#btn-container>input:nth-child(1) {
    background-color: orangered;
    color: #fff;

    border: none;
}

#btn-container>input:nth-child(3) {
    background-color: #fff;
    color: blue;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer>a {
    color: #1515EF;
}